body {
    margin:0;
}

.menu-desktop {
    display:none;
}

/* START of Mobile Menu */
.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

header {
    background-color: #FCF8F2;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 10%;
    left: 15%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #062031;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background:#062031;
    border-radius: 5px;
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: white;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 70px;
    font-family: turnip, sans-serif;
    font-size: 30px;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #041E42;
    height: 40px;
    line-height: 40px;
    padding: 10px;
}


.navlogo img{
    position: absolute;
    width: 40vw;
    right: 25%;
    padding-top: 25px;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */

h1 {
    position:absolute;
    font-size: 40px;
margin-left: 10vw;
margin-top: -23vh;
color: #041E42;
font-family: turnip, serif;
font-weight: 800;
font-style: normal;
}

h2 {
    font-family: turnip, serif;
font-weight: 700;
font-style: normal;
color: #041E42;
font-size: 30px;
}

h3{
    font-family: campaign, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 20px;
margin-top:-20px;
}

p{
    font-family: campaign, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 15px;
}

ol{
    font-family: campaign, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 15px;
}

.firstimg {
    width:100vw;
    padding-top: 20vh;
}

.mission {
    margin-top: -100vh;
    padding: 10px;
}

.abovestores {
    padding-top: 58vh;
    padding-left: 20px;
    padding-right: 20px;
}

.stores {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.stores img {
    width: 40%;
    height: 40%;
}

.thestory {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCF8F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thestory img {
    width: 85vw;
    text-align: center;
}

footer {
    padding-top: 30px;
    display:flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

footer img {
    width: 10vw;
}

.cans {
    width:370px;
}