body {
  margin: 0;
}

.menu-desktop {
  display: none;
}

.desktop a {
  display: none;
}

.mobilehide {
  display: none;
}
div {
  outline: none;
}
.hide {
  display: none;
}
.can-group {
  opacity: 0;
}
/* START of Mobile Menu */
.nav,
.desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

header {
  background-color: #fcf8f2;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 10%;
  left: 15%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #062031;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #062031;
  border-radius: 5px;
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: white;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 70px;
  font-family: turnip, sans-serif;
  font-size: 30px;
  text-align: center;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #041e42;
  height: 40px;
  line-height: 40px;
  padding: 10px;
}

.navlogo img {
  position: absolute;
  width: 40vw;
  right: 25%;
  padding-top: 25px;
}

.desktop,
.menu-desktop,
.menu-mobile {
  display: none;
}
/* END OF Mobile Menu */

h1 {
  position: absolute;
  font-size: 40px;
  margin-left: 10vw;
  margin-top: -23vh;
  color: #041e42;
  font-family: turnip, serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: turnip, serif;
  font-weight: 700;
  font-style: normal;
  color: #041e42;
  font-size: 30px;
}

h3 {
  font-family: campaign, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-top: -20px;
}

p {
  font-family: campaign, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

ol {
  font-family: campaign, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.firstimg {
  width: 100vw;
  padding-top: 20vh;
}

/* START CANS */

.cans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cans img {
  width: 60%;
  height: auto;
  padding: 7px;
}
.cans div {
  flex: 50%;
}

.cans div:nth-child(1) {
  transform: rotate(-23deg);
}

.cans div:nth-child(2) {
  transform: rotate(40deg);
  padding-top: 80px;
}

.cans div:nth-child(3) {
  transform: rotate(-10deg);
  margin-top: -50px;
}

.cans div:nth-child(4) {
  transform: rotate(-25deg);
}

/* END CANS */

.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-3 21:35:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* can animation*/
.floating {
  margin-left: 30px;
  margin-top: 5px;
}

.floating img {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.floating div:nth-child(even) img {
  animation-delay: 1s;
}

.cans:hover img {
  opacity: 0.5;
  transition: opacity 1s;
}

.cans img:hover {
  opacity: 1;
  transition: opacity 1s;
}

/* START POPUP */

.popup {
  position: absolute;
  margin-top: -60vh;
}

.lime {
  background-color: #6bc047;
  width: 90vw;
  margin-left: 5vw;
}

.lime h2 {
  background-color: #fcf8f2;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-top: -20px;
  color: #6bc047;
}

.lime p {
  padding-bottom: 50px;
  padding-left: 40px;
  color: #fcf8f2;
}

.blue {
  background-color: #4f7bbe;
  width: 90vw;
  margin-left: 5vw;
}

.blue h2 {
  background-color: #fcf8f2;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-top: -20px;
  color: #4f7bbe;
}

.blue p {
  padding-bottom: 50px;
  padding-left: 40px;
  color: #fcf8f2;
}

.mango {
  background-color: #fd9e27;
  width: 90vw;
  margin-left: 5vw;
}

.mango h2 {
  background-color: #fcf8f2;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-top: -20px;
  color: #fd9e27;
}

.mango p {
  padding-bottom: 50px;
  padding-left: 40px;
  color: #fcf8f2;
}

.pom {
  background-color: #d70d56;
  width: 90vw;
  margin-left: 5vw;
}

.pom h2 {
  background-color: #fcf8f2;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 20px;
  margin-top: -20px;
  color: #d70d56;
}

.pom p {
  padding-bottom: 50px;
  padding-left: 40px;
  color: #fcf8f2;
}
/* END POPUP */



.mission {
  margin-top: -100vh;
  padding: 10px;
  padding-left: 0px;
  opacity: 0;
}

.slide-right {
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    opacity: 1;
    transition: opacity 1s;

    
  }
  
  /**
   * ----------------------------------------
   * animation slide-right
   * ----------------------------------------
   */
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
  }

.abovestores {
  padding-top: 58vh;
  padding-left: 20px;
  padding-right: 20px;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.2s both;
  animation: bounce-in-top 1.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-3 20:59:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.stores {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.stores img {
  width: 40%;
  height: 40%;
}

.thestory {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fcf8f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thestory img {
  width: 85vw;
  text-align: center;
}

footer {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

footer img {
  width: 10vw;
}

.cans {
  width: 70%;
  margin: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .desktophide {
    display: none;
  }
  .mobilehide {
    display: block;
    width: 100vw;
  }

  .desktop a {
    display: block;
  }

  /* START of desktop menu for 768 media query */

  .menu-desktop {
    width: 100%;
    display: block;
    padding: 0;
    line-height: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: right;
    position: absolute;
    top: 0;
    height: 120px;
    background-color: #fcf8f2;
    z-index: -1;
  }

  .menu-desktop a {
    display: inline-flex;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    color: #062031;
    justify-content: space-evenly;
    font-family: turnip, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 10;
  }

  .menu-desktop a:hover {
    font-weight: 400;
    color: #062031;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
  }
  .desktop img {
    width: 250px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: -30px;
    padding-left: 30px;
    position: relative;
  }

  .logo {
    width: 50vw;
  }

  header.nav,
  .menu-mobile {
    display: none;
  }
  /* END of desktop menu for 768 media query */

  .firstimg {
    margin-top: -80px;
  }

  h1 {
    font-size: 100px;
    margin-left: 27vw;
    margin-top: -45%;
  }

  .cans {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .cans img {
    width: 85%;
    height: auto;
  }

  .cans img:nth-child(1) {
    padding-left: 80px;
  }

  .cans div:nth-child(2) {
    margin-left: 30px;
    margin-top: 60px;
    transform: rotate(15deg);
    padding-left: 0px;
  }

  .cans img:nth-child(3) {
    margin-top: -10px;
  }

  .cans img:nth-child(4) {
    padding-left: 50px;
    margin-top: 30px;
  }

  img .mobilehide .orang {
    width: 100vw;
  }

  .mission {
    padding-top: 80px;
  }

  h2 {
    font-size: 65px;
  }

  h3,
  p,
  ol,
  li {
    font-size: 20px;
    width: 30em;
  }

  h3 {
    margin-top: -55px;
  }

  .popup {
    margin-top: -70vh;
  }

  .pom {
    width: 60vw;
  }

  .mango {
    width: 40vw;
  }

  .mango h2 {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mango p {
    width: 30vw;
  }

  .blue {
    width: 40vw;
    margin-left: 53vw;
  }

  .blue h2 {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .blue p {
    width: 30vw;
  }

  .lime {
    width: 60vw;
    margin-left: 33vw;
  }

  .abovestores {
    margin-top: 0;
    text-align: center;
    padding-top: 25%;
  }

  .stores {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20vh;
  }

  .stores img {
    width: 15%;
    height: 15%;
  }

  .thestory {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
  }

  .thestory img {
    order: -1;
    height: 100vh;
    width: auto;
  }

  footer {
    justify-content: flex-start;
  }

  footer img {
    width: 5vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  footer p {
    margin-left: 50px;
  }
}
