@font-face {
    font-family: "Avara-Black";
    src: url("fonts/Avara-Black.eot");
    src: url("fonts/Avara-Black.woff") format("woff"),
    url("fonts/Avara-Black.otf") format("opentype"),
    url("fonts/avara.svg") format("svg");
    }
    @font-face {
        font-family: "Avara-Bold";
        src: url("fonts/Avara-Bold.eot");
        src: url("fonts/Avara-Bold.woff") format("woff"),
        url("fonts/Avara-Bold.otf") format("opentype"),
        url("fonts/avara.svg") format("svg");
        }

        @font-face {
            font-family: "BackOut";
            src: url("fonts/BackOut.eot");
            src: url("fonts/BackOut.woff") format("woff"),
            url("fonts/BackOut.otf") format("opentype");
            }

body {
    margin: 0;
  }
  
  main {
    position: relative;
  }
  
  .grid-2 {
    display: flex;
  }
  
  .grid-2 .pothos-bg {
    background-image: url("photos/pothos-crop.jpg");
    background-size: cover;
    height: 100vh;
  }

  .home-bg{
      background-image: url("photos/plantroom-crop.jpg");
      background-size: cover;
      height: 100vh;
      
  }

  .grid-2 .peacelily-bg{
    background-image: url("photos/peacelily-crop.jpg");
    background-size: cover;
    height: 100vh;
}

.grid-2 .rubbertree-bg{
    background-image: url("photos/rubbertree.jpg");
    background-size: cover;
    height: 100vh;
}

.grid-2 .zzplant-bg{
    background-image: url("photos/zzplant.jpg");
    background-size: cover;
    height: 100vh;
}

  .grid-2 div {
    flex: 1;
  }

  .descrip p{
      width: 65%;
      font-size: 17px;
      font-family: "Avara-Bold";
        src: url(fonts/Avara-Bold.woff);
      margin: 0 auto;  
      padding-top: 30px;
  }
  
.carsheet div{
    margin: 0 auto;
}

  nav{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 40px;
  }
  
  a{
    color: white;
    text-decoration: none;
    font-family: "BackOut";
    line-height: 20px;
  }

  a:hover{
      color: yellow;
      text-decoration: none;
  }



   .homenav nav{
    position: absolute;
    right: 0px;
    bottom: 20px;
    font-size: 40px;
    text-align: right;
    margin: 0px;
    padding: 0px;
    line-height: 65px;
  }

  .homenav a{
      font-size: 65px;
      margin: 0px;

  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
  }

  
  .logo-img {
    border-radius: 50%;
    max-width: 70px;
    background-color: white;
    height: auto;
  }

  h1{
      font-size: 80px;
      color: white;
      margin-top: 10px;
      font-family:"Avara-Black";
      src: url(fonts/Avara-Black.woff);
  }

  h2{
    padding-left: 20px;
    padding-right: 30px;
    font-size: 48px;
    color: #90B1A4;
    margin-top: 10px;
    font-family:"Avara-Bold";
    src: url(fonts/Avara-Bold.woff);
  }

  div .caresheet{
      background-color: lightcoral;
      width: 60%;
      margin: 0 auto;
      margin-top: 10%;
      padding: 12px 20px;
  }
  div .caresheet h3{
      font-size: 30px;
      font-family:"BackOut";
      padding: 0px;
      margin: 0px;
      margin-bottom: -10px;
  }

  hr{
      border: 2px solid black;
  }

  div .caresheet p{
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

