* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: prestige-elite-std, monospace;
font-weight: 400;
font-style: normal;
font-size: 25px;
color: white;
background: black;
}
.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 900vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.vh-center {
  margin: auto auto;
  width: 80%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

img {
  width: 40vw;
  position: relative;
  left: 30%;
}

p {
  margin-top: -40px;
}

/* typewrite effect */

#text {
  padding: 0.5em;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  user-select: none;
}

#text::after {
  content: "_";
  opacity: 0;
  animation: cursor 0.5s infinite alternate;
}

@keyframes cursor {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

/* end typewrite effect */

.center {
  text-align: center;
}
